include LICENSE
include README.md
recursive-include pki/static *
recursive-include pki/templates *
recursive-include pki/fixtures *
recursive-include pki/migrations *
recursive-include pki/templatetags *
recursive-include docs *